{% extends 'wordbook/base.html' %}

{% block content %}
    <!-- <div class="dropdown" style="margin-bottom: 20px;">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            전체
            <span class="caret"></span>
            <input type="hidden" id="dropdownValue" value="" />
        </button>
        <ul id="dropdown_ul" class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>전체</li>
            <li role="separator" class="divider"></li>
            <li>암기</li>
            <li>미암기</li>
        </ul>
    </div> -->
    <table class="table table-bordered" style="background-color: #ffffff; font-size:13px;">
        <thead>
            <th class="col-md-3" style="text-align: center">단어</th>
            <th class="col-md-7" style="text-align: center">의미</th>
            <th class="col-md-1"style="text-align: center">암기일</th>
            <th class="col-md-1"style="text-align: center">암기여부</th>
        </thead>
        <tbody>
            {% for word in words %}
                {% for meaning in word.meaning_set.all %}
                    <tr>
                        <td>{{ word.text }}</td>
                        <td>{{ meaning.meaning_text }}</td>
                        <td></td>
                        <td>
                            <input type="hidden" class="btn btn-default" name="word_check" id="{{word.id}}" value="{{word.id}}">
                            {% if word.checked_date != None %}
                                    <button type="submit" class="btn btn-success" style="display: block; margin: 0 auto;">
                                         <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                    </button>
                                </a>
                            {% else %}
                                    <button type="submit" class="btn btn-danger" style="display: block; margin: 0 auto;">
                                         <span class="glyphicon glyphicon-remove-sign" aria-hidden="true"></span>
                                    </button>
                                </a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            {% endfor %}
        </tbody>
    </table>
<div class="footer">
    <a href="{% url 'word_new' %}"><button type="button" class="btn" style="float:right;">추가</button></a>
</div>
{% endblock %}
