{% extends 'wordbook/base.html' %}

{% block content %}
    <div class="dropdown" style="margin-bottom: 20px;">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            전체
            <span class="caret"></span>
            <input type="hidden" id="dropdownValue" value="" />
        </button>
        <ul id="dropdown_ul" class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li>전체</li>
            <li role="separator" class="divider"></li>
            <li>암기</li>
            <li>미암기</li>
        </ul>
    </div>
    <table class="table table-bordered" style="background-color: #ffffff; font-size:13px;">
        <thead>
            <th style="text-align: center">단어</th>
            <th style="text-align: center">의미</th>
            <th style="text-align: center">암기일</th>
            <th style="text-align: center">암기여부</th>
        </thead>
        <tbody>
            {% for word in words %}
                    <tr>
                        <td>{{ word.text }}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="footer">
        <a href="{% url 'word_new' %}"><button type="button" class="btn" style="float:right;">추가</button></a>
    </div>
{% endblock %}
